<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Admin page</title>
</head>
<body>
<div layout:fragment="content">
        <table style="width: 100%;height: 700px;border-collapse: separate;;border-spacing: 20px;">
            <tr style="height: 50%">
                <td style="width: 50%; height: 50%;">
                    <div class="admin-menu-1" th:style="'background:url(' + @{/images/lotnisko.jpg} + ');'">
                        <a class="header-link" th:href="@{/admin/flights}">
                            <span class="header" style="left: 20% !important;">Zarządzanie lotami</span>
                        </a>
                    </div>
                </td>
                <td style="width: 50%; height: 50%;background-color: green;">
                    <div class="admin-menu-1" th:style="'background:url(' + @{/images/baza-lotow.jpg} + ');'">
                        <a class="header-link" href="updateDatabase.html" >
                            <span class="header" style="left: 15% !important;">Aktualizacja bazy lotów</span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr style="height: 50%">
                <td style="width: 50%; height: 50%; ">
                    <div class="admin-menu-1" th:style="'background:url(' + @{/images/lotnisko-statystki.jpg} + ');'">
                        <a class="header-link" href="#" >
                            <span class="header" style="left: 33% !important;">Statystki</span>
                        </a>
                    </div>
                </td>
                <td style="width: 50%; height: 50%;"></td>
            </tr>
        </table>
</div>
</body>
</html>