<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>flight details</title>
</head>
<body>

<div layout:fragment="content">
    <h2>Sczegóły lotu: <p th:text="${flight.id}"></p></h2>


    <hr/>

    <ul class="list-group">
        <li class="list-group-item"><label>Nazwa lotu: </label><p th:text="${flight.flightName}"></p></li>
        <li class="list-group-item"><label>Rodzaj usługi: </label><p th:text="${flight.serviceType}"></p></li>
        <li class="list-group-item"><label>Data odlotu: </label><p th:text="${flight.scheduleDate}"></p></li>
        <li class="list-group-item"><label>Data przylotu: </label><p th:text="${flight.estimatedLandingTime}"></p></li>
        <li class="list-group-item"><label>Faktyczna data przylotu: </label><p th:text="${flight.actualLandingTime}"></p></li>
        <li class="list-group-item"><label>Numer lotu: </label><p th:text="${flight.flightNumber}"></p></li>
        <li class="list-group-item"><label>Kierunek lotu: </label><p th:text="${flight.flightDirection}"></p></li>
        <li class="list-group-item"><label>Brama: </label><p th:text="${flight.gate}"></p></li>
        <li class="list-group-item"><label>Otwarcie bramy: </label><p th:text="${flight.expectedTimeGateOpen}"></p></li>
        <li class="list-group-item"><label>Zamknięcie bramy: </label><p th:text="${flight.expectedTimeGateClosing}"></p></li>
    </ul>

    <h2>Pasażerowie:</h2>
    <hr/>

    <table class="table table-bordered table-definition mb-5">
        <thead class="table-warning">
        <tr>
            <th style="background-color: #fcf8e3">Imię</th>
            <th style="background-color: #fcf8e3">Nazwisko</th>
            <th style="background-color: #fcf8e3">Pesel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="passenger : ${passengers}">
            <td th:text="${passenger.firstName}"></td>
            <td th:text="${passenger.lastName}"></td>
            <td th:text="${passenger.pesel}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>