<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <script th:src="@{/js/register.js}"></script>
    <title>register</title>
</head>
<body>

<div layout:fragment="content">


    <div th:if="${errors != null}" class="row">
        <div class="alert alert-danger fade in" th:each="error : ${errors}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            &lt;!&ndash;<span th:text="${error.defaultMessage}"></span> &ndash;&gt;
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Załóż konto</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" th:object="${newUser}" th:action="@{/account/register/mail/send}">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" id="firstNameInput" th:field="*{firstName}" placeholder="imię"/>
                                <input class="form-control" id="lastNameInput" th:field="*{lastName}" placeholder="nazwisko"/>
                                <input class="form-control" id="userMailInput" th:field="*{email}" placeholder="email"/>
                                <input class="form-control" id="phoneInput" th:field="*{phoneNumber}" placeholder="numer telefonu"/>
                                <div class="input-group">
                                    <input class="form-control" th:field="*{password}" id="passwordfield" type="password" placeholder="hasło"/>
                                    <div class="input-group-addon fa fa-eye btn" onmousedown="ShowPassword()" onmouseup="HidePassword()"/>
                                </div>
                            </div>
                            <button id="register" type="submit" class="btn btn-lg btn-info btn-block">Załóż konto</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>