<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Reservation form</title>
</head>
<body>
<div layout:fragment="content">
    <div style="text-align: center;">
        <img th:src="@{/images/airline-icon.png}" width="200px" height="200px" />
    </div>
        <form class="form-horizontal" th:action="@{/user/reservation/save}" th:object="${viewModel}" method="post">
            <fieldset>

                <!-- Form Name -->
                <legend>Formularz rezerwacji lotu</legend>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasic">Wybierz lot</label>
                    <div class="col-md-4">
                        <select id="selectbasic" name="selectbasic" class="form-control" th:field="*{flight.id}" th:if="*{flight.id == null}" >
                            <option value="" disabled="true" selected="true">Select your option</option>
                            <option th:each="flight : ${viewModel.flights}" th:value="${flight.id}" th:text="${flight.flightName}" ></option>
                        </select>
                        <select id="selectbasic" name="selectbasic" class="form-control" th:field="*{flight.id}" th:if="*{flight.id != null}" >
                            <option  th:value="*{flight.id}" th:text="*{flight.flightName}" selected="true" ></option>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstNameInput">Imię</label>
                    <div class="col-md-4">
                        <input id="firstNameInput" name="firstNameInput" type="text" placeholder="" class="form-control input-md" required="" th:field="*{passenger.firstName}" />
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastNameInput">Nazwisko</label>
                    <div class="col-md-4">
                        <input id="lastNameInput" name="lastNameInput" type="text" placeholder="" class="form-control input-md" required="" th:field="*{passenger.lastName}" />
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="peselInput">Pesel</label>
                    <div class="col-md-4">
                        <input id="peselInput" name="peselInput" type="text" placeholder="" class="form-control input-md" required="" th:field="*{passenger.pesel}" />

                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button style="width: 100%;" id="singlebutton" name="singlebutton" class="btn btn-success">Potwierdź rezerwację</button>
                    </div>
                </div>
            </fieldset>
    </form>
</div>
</body>
</html>