<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>User home</title>
</head>
<body>
<div layout:fragment="content">
    <table style="width: 100%;height: 700px;border-collapse: separate;;border-spacing: 20px;">
        <tr style="height: 50%">
            <td style="width: 50%; height: 50%;">
                <div class="admin-menu-1" th:style="'background:url(' + @{/images/loty.jpg} + ');'">
                    <a class="header-link" href="#" >
                        <span class="header">Podgląd lotów</span>
                    </a>
                </div>
            </td>
            <td style="width: 50%; height: 50%;background-color: green;">
                <div class="admin-menu-1" th:style="'background:url(' + @{/images/reservation.jpg} + ');'">
                    <a class="header-link" href="#" >
                        <span class="header" style="left: 20% !important;">Formularz rezerwacji</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr style="height: 50%">
            <td style="width: 50%; height: 50%; ">
                <div class="admin-menu-1" th:style="'background:url(' + @{/images/ustawienia-konta.jpg} + ');'">
                    <a class="header-link" th:href="@{/user/account}" >
                        <span class="header" style="left: 20% !important;">Zarządzanie kontem</span>
                    </a>
                </div>
            </td>
            <td style="width: 50%; height: 50%;"></td>
        </tr>
    </table>
</div>
</body>
</html>