<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Admin page</title>
</head>
<body>
<div layout:fragment="content">
    <table style="width: 100%;height: 700px;border-collapse: separate;;border-spacing: 20px;">
        <tr th:each="flight : ${flights}">
            <td th:text="${flight.id}">1</td>
            <td th:text="${flight.prefixIATA}">1</td>
            <td th:text="${flight.serviceType}">1</td>
            <td th:text="${flight.scheduleTime}">1</td>
            <td th:text="${flight.flightName}">1</td>
            <td th:text="${flight.prefixICAO}">1</td>
            <td th:text="${flight.expectedTimeBoarding}">1</td>
        </tr>
    </table>
</div>
</body>
</html>